In [1]:
import  pickle
import numpy as np
import pandas as pd
#El enfoque es la diferencia entre RB y R, RB es abierta binario, R es un archivo de texto abierto
f=open('uke_eggedal_data_challenge.pkl','rb')
data = pickle.load(f)
#data = np.array(data)

In [2]:
data.keys()

dict_keys(['flow', 'obs_tas', 'flow_dates', 'obs_lon_lat', 'obs_pr', 'obs_dates'])

In [3]:
for k in data.keys():
    print(k)
    print(type(data[k]))
    print(np.array(data[k]).shape)

flow
<class 'numpy.ndarray'>
(21542,)
obs_tas
<class 'numpy.ndarray'>
(21546, 9)
flow_dates
<class 'pandas.core.series.Series'>
(21542,)
obs_lon_lat
<class 'list'>
(2,)
obs_pr
<class 'numpy.ndarray'>
(21546, 9)
obs_dates
<class 'pandas.core.series.Series'>
(21546,)

In [57]:
pd.DataFrame(data["obs_tas"])

,0,1,2,3,4,5,6,7,8
0,-10.600000,-9.7,-6.7,-8.800000,-8.900000,-7.500000,-8.1,-6.5,-5.4
1,-20.500000,-19.1,-12.0,-17.700001,-17.700001,-13.100000,-15.5,-11.8,-9.1
2,-23.600000,-22.5,-15.1,-21.400000,-21.400000,-16.299999,-19.4,-14.6,-12.2
3,-16.200001,-16.0,-14.1,-15.600000,-15.400000,-14.500000,-15.0,-13.8,-11.9
4,-7.900000,-7.8,-9.5,-7.600000,-7.500000,-8.000000,-7.4,-8.6,-8.2
...,...,...,...,...,...,...,...,...,...
21541,-12.500000,-11.7,-8.6,-11.000000,-10.900000,-9.200000,-9.7,-8.4,-7.5
21542,-12.500000,-11.9,-9.1,-11.400000,-11.200000,-9.800000,-10.6,-8.6,-7.5
21543,-11.900000,-11.4,-8.4,-10.800000,-10.800000,-8.600000,-9.3,-7.2,-6.3
21544,-7.000000,-6.5,-3.4,-5.900000,-6.100000,-4.800000,-5.0,-3.8,-3.0
21545,-2.400000,-2.1,1.3,-1.500000,-1.800000,-0.800000,-0.9,0.5,1.1

In [4]:
# asigno cada columna a una variable para crear tablas

flow = pd.DataFrame(df['flow']) # flujo (m3 / sec) - one location - 21542 rows
obs_tas = pd.DataFrame(df['obs_tas']) # Temperature (deg C) â€“ 9 locations - 21546 rows
flow_dates = pd.DataFrame(df['flow_dates']) # dates - 21542 rows
obs_lon_lat = pd.DataFrame(df['obs_lon_lat']) # lon and lat- one location - 2 rows
obs_pr = pd.DataFrame(df['obs_pr']) # Precipitation (mm) - 9 locations - 21546 rows
obs_dates = pd.DataFrame(df['obs_dates']) # dates - 21546 rows

NameError: name 'df' is not defined

ValueError: arrays must all be same length

In [44]:
data["obs_lon_lat"]

[9.37, 60.23]

In [51]:
np.sum(pd.DataFrame(data["obs_dates"]).isna())

0    0
dtype: int64